@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-grotesk {
  font-family: var(--font-grotesk);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

.font-inter {
  font-family: var(--font-inter);
}

.font-arima {
  font-family: var(--font-arima);
}

.font-oswald {
  font-family: var(--font-oswald);
}

.font-cascadia {
  font-family: var(--font-cascadia);
}

.font-slab {
  font-family: var(--font-slab);
}

.font-source {
  font-family: var(--font-source);
}

.font-lobster {
  font-family: var(--font-lobster);
}

.font-caveat {
  font-family: var(--font-caveat);
}
